<footer>
  <div class="footer">
    <div>
      Innocent Tech is an application owned by 
      <a href="https://innocenttech.com/" target="_blank"> Innocent Technologies </a> and
      <a href="https://softwareforgood.com/" target="_blank"> Software For Good </a>
    </div>
    <div>
      <a href="/terms-of-service" target="_blank"> Terms of Service </a>
      <span>|</span>
      <a href="/privacy-policy" target="_blank"> Privacy Policy </a>
    </div>
  </div>
</footer>