<aside id="separator-sidebar" class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full transition-transform sm:translate-x-0" aria-label="Sidebar">
				<div class="h-full overflow-y-auto bg-it-gray-50 px-3 py-4 dark:bg-gray-800">
					<ul class="space-y-2 font-medium">
						<li>
							<!--innocent_tech logo here-->
							<img src="" alt="" />
						</li>
						<li>
							<a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
								<!--add my_students icon here-->
								<!--add svg-->
								<span class="ms-3">My Students</span>
							</a>
						</li>
						<li>
							<a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
								<!--my_community icon here-->
								<!--add svg-->
								<span class="ms-3 flex-1 whitespace-nowrap">My Community</span>
								<!--notification button-->
								<!-- <span class="ms-3 inline-flex items-center justify-center rounded-full bg-gray-100 px-2 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300">Pro</span> -->
							</a>
						</li>
						<li>
							<a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
								<!--my_practice icon here-->
								<!--add svg-->
								<span class="ms-3 flex-1 whitespace-nowrap">My Practice</span>
							</a>
						</li>
						<li>
							<a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
								<%# <svg class="h-5 w-5 flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
								</svg> %>
								<span class="ms-3 flex-1 whitespace-nowrap">Collapse</span>
							</a>
						</li>
					</ul>
					<!--content separator is here-->
					<ul class="mt-4 space-y-2 border-t border-gray-200 pt-4 font-medium dark:border-gray-700">
						<li>
							<a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
								<!--settings icon here-->
								<!--add svg-->
								<span class="ms-3">Settings</span>
							</a>
						</li>

						<li>
							<a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
								<!--add help icon here-->
								<!--add svg-->
								<span class="ms-3">Help</span>
							</a>
						</li>
					</ul>
				</div>
			</aside>