<!--Sidebar Navigation-->
<aside id="separator-sidebar" class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full transition-transform sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full overflow-y-auto bg-it-gray-50 px-3 py-4 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <!--innocent_tech logo here-->
        <%# <img src="./assets/images/it_logo.png" alt="innocent_tech_logo" /> %>
      </li>
      <li>
        <a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <!--add my_students icon here-->
          <i class="fa-brands fa-font-awesome"></i>
          <span class="ms-3">My Students</span>
        </a>
      </li>
      <li>
        <a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <!--my_community icon here-->
          <span class="ms-3 flex-1 whitespace-nowrap">My Community</span>
        </a>
      </li>
      <li>
        <a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <!--my_practice icon here-->
          <span class="ms-3 flex-1 whitespace-nowrap">My Practice</span>
        </a>
      </li>
    </ul>
      <!--content separator is here-->
    <ul class="mt-4 space-y-2 border-t border-gray-200 pt-4 font-medium dark:border-gray-700">
      <li>
        <a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <!--settings icon here-->
          <span class="ms-3">Settings</span>
        </a>
      </li>

      <li>
        <a href="#" class="group flex items-center rounded-lg p-2 text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
          <!--add help icon here-->
          <span class="ms-3">Help</span>
        </a>
      </li>
    </ul>
  </div>
</aside>